---
title: MichaelX. · Full Stack Developer & Digital Marketer
---

<div class="container-fluid">
  <div class="flex-container align-center justify-center direction-v" id="main-banner" style="height: 60vh;">
    <h1>Delivering astounding results.</h1>
    <p style="margin-bottom: 50px;">I am a multi-disciplinary digital product marketer and full stack developer that can take your product to the next level.</p>
    <button type="button" class="btn btn-text">
      <svg class="svg-play" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10.5" cy="10.5" r="10.5" fill="#506df5"></circle>
        <path d="M13.78 9.9a.71.71 0 0 1 0 1.2l-4.4 3.3c-.44.33-.8.15-.8-.4V7c0-.55.36-.73.8-.4z" fill="#fff"></path>
      </svg>
      <span class="cta-blue">Get in touch</span>
    </button>
  </div>
</div>
<div class="container-fluid bio-section">
  <!-- <div class="flex-container justify-center align-center"> -->
    <div class="row">
      <div class="col-sm-12 col-md-4" style="height: 100%;">
        <%= image_tag "michaelx-headshot.jpg", class: "img-circle img-responsive profile-pic"%>
      </div>
      <div class="col-sm-12 col-md-8 text-center">
        <h3 class="underline-heading">Hire a multi-faceted skillset</h3>
        <p class="text-left">I am a full stack developer with a background in product design and marketing.
           I successfully fueled growth for a B2B FinTech product and lead a live streaming product from 0 to 25,000 users in 6 months.
           With my multi-disciplinary experience, I can not only help build your product from back-end to front-end but also help formulate growth strategies to hit your milestones.</p>
          <ul class="list-inline labels text-left">
            <li>Growth Marketing</li>
            <li>UI/UX Design</li>
            <li>Project Management</li>
            <li>Full Stack Web Development</li>
            <li>Mobile Game Development</li>
          </ul>
      </div>
    <!-- </div> -->
  </div>
</div>
<div class="container-fluid table-container">
  <h2>Product Building Toolkit</h2>
  <div class="panel skill-table">
    <div class="skill-section">
      <%= image_tag "design.svg", class: "section-img" %>
      <h3 class="underline-heading">Design</h3>
      <p>The first-step and most essential for creating a successful product.</p>
      <ul class="list-group">
        <li class="list-group-item">
          <span>
            <%= image_tag "sketch-logo.svg", class: "dev-icon" %>
          </span>
          Sketch
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#80B5E2" d="M126.216.727c-36.223-.011-72.284-.01-108.508-.01-5.181 0-10.451-.004-15.632.011-.328.001-1.076.153-1.076.236v126.036h126v-126.036c0-.083-.414-.237-.784-.237zm-12.736 113.939c-32.641-.038-65.271-.03-97.912-.03-1.576 0-1.569-.003-1.569-1.627v-97.797c.001-1.607-.015-1.212 1.578-1.212h97.798c1.638 0 1.625-.396 1.625 1.291v48.837c0 16.32-.007 32.64.036 48.959.004 1.243-.289 1.58-1.556 1.579zM56.82 39.644c-6.668-1.563-13.38-.792-20.085-.107-1.423.146-1.695.755-1.691 2.018.043 15.207-.044 30.414-.044 45.621v.824h9v-17.861c5 .375 9.576.286 14.049-1.31 7.169-2.558 10.752-8.111 10.365-16.219-.313-6.548-4.426-11.286-11.594-12.966zm-1.953 22.344c-3.194 1.557-6.59 1.52-10.005 1.058-.266-.036-.675-.511-.677-.784-.04-5.331-.03-10.661-.03-16.138 3.131-.488 6.1-.726 9.062.018 3.673.923 5.804 3.319 6.201 6.917.436 3.954-1.247 7.319-4.551 8.929zM88.168 69.094c-1.469-.805-3.08-1.347-4.606-2.053-1.41-.653-2.833-1.296-4.174-2.076-.935-.543-1.36-1.492-1.36-2.611 0-1.892 1.294-3.417 3.504-3.598 1.649-.135 3.361.035 4.994.34 1.376.256 2.681.899 4.082 1.395l1.767-6.269c-3.345-1.624-6.749-2.235-10.285-2.11-3.006.105-5.814.871-8.352 2.599-4.743 3.229-7.057 11.807.051 16.416 1.805 1.171 3.893 1.905 5.851 2.841 1.218.583 2.489 1.079 3.641 1.772 1.452.874 1.946 2.297 1.694 3.94-.247 1.615-1.33 2.638-2.836 2.874-1.68.264-3.466.435-5.118.144-2.339-.411-4.599-1.281-6.974-1.979-.426 1.59-.831 3.349-1.384 5.06-.303.938-.125 1.401.795 1.768 5.617 2.231 11.334 2.69 17.082.717 4.296-1.475 6.915-4.524 7.256-9.169.332-4.527-1.708-7.851-5.628-10.001z"></path>
            </svg>
          </span>
          Photoshop
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAA625" d="M1 1v125.792c1 .082.99.235 1.359.235 36.269.011 72.665.011 108.934.011 4.994 0 9.859.004 14.854-.011.328-.001.854-.153.854-.235-.001-41.959-.001-83.792-.001-125.792h-126zm114 62.914v48.551c0 1.688-.253 1.535-1.88 1.535h-97.349c-1.627 0-1.771.154-1.771-1.534v-97.226c0-1.689.144-2.24 1.894-2.24h97.103c1.751 0 2.003.551 2.003 2.363v48.551zM64.414 40.368c-.214-.662-.612-.696-1.193-.693-3.114.019-6.229.069-9.341 0-.984-.021-1.411.274-1.715 1.233-4.385 13.785-8.817 27.561-13.233 41.336-.72 2.246-1.417 4.501-2.185 6.939 2.911 0 5.571-.04 8.229.026.903.022 1.279-.275 1.525-1.126 1.138-3.924 2.37-7.821 3.497-11.748.265-.926.694-1.176 1.625-1.165 4.424.052 8.85.052 13.274 0 .861-.01 1.211.268 1.455 1.062 1.213 3.949 2.502 7.874 3.714 11.823.251.816.566 1.13 1.507 1.062 1.303-.095 2.619-.117 3.93-.117h4.592l-.021-.331c-5.222-16.107-10.451-32.19-15.66-48.301zm-12.413 27.632c2.037-7 4.059-13.848 6.051-20.644 2.053 6.772 4.141 13.644 6.26 20.644h-12.311zM82 89h10v-36h-10v36zM87.071 38.555c-2.963.003-5.151 2.107-5.131 4.936.02 2.837 2.122 4.857 5.057 4.862 3.051.004 5.208-2.015 5.187-4.856-.022-2.91-2.127-4.945-5.113-4.942z"></path>
            </svg>
          </span>
          Illustrator
        </li>
        <li class="list-group-item">
          <span>
            <%= image_tag "figma-logo.svg", class: "dev-icon" %>
          </span>
          Figma
        </li>
      </ul>
    </div>

    <div class="skill-section">
      <%= image_tag "front-end.svg", class: "section-img" %>
      <h3 class="underline-heading">Front-End</h3>
      <p>Immediately amaze your investors/end-users with stunning aesthics and usability.</p>
      <ul class="list-group">
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill="#E44D26" d="M19.037 113.876l-10.005-112.215h109.936l-10.016 112.198-45.019 12.48z"></path>
              <path fill="#F16529" d="M64 116.8l36.378-10.086 8.559-95.878h-44.937z"></path>
              <path fill="#EBEBEB" d="M64 52.455h-18.212l-1.258-14.094h19.47v-13.762h-34.511l.33 3.692 3.382 37.927h30.799zM64 88.198l-.061.017-15.327-4.14-.979-10.975h-13.817l1.928 21.609 28.193 7.826.063-.017z"></path>
              <path fill="#fff" d="M63.952 52.455v13.763h16.947l-1.597 17.849-15.35 4.143v14.319l28.215-7.82.207-2.325 3.234-36.233.335-3.696h-3.708zM63.952 24.599v13.762h33.244l.276-3.092.628-6.978.329-3.692z"></path>
            </svg>
          </span>
          HTML 5
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill="#1572B6" d="M18.814 114.123l-10.054-112.771h110.48l-10.064 112.754-45.243 12.543-45.119-12.526z"></path>
              <path fill="#33A9DC" d="M64.001 117.062l36.559-10.136 8.601-96.354h-45.16v106.49z"></path>
              <path fill="#fff" d="M64.001 51.429h18.302l1.264-14.163h-19.566v-13.831h34.681999999999995l-.332 3.711-3.4 38.114h-30.95v-13.831z"></path>
              <path fill="#EBEBEB" d="M64.083 87.349l-.061.018-15.403-4.159-.985-11.031h-13.882l1.937 21.717 28.331 7.863.063-.018v-14.39z"></path>
              <path fill="#fff" d="M81.127 64.675l-1.666 18.522-15.426 4.164v14.39l28.354-7.858.208-2.337 2.406-26.881h-13.876z"></path>
              <path fill="#EBEBEB" d="M64.048 23.435v13.831000000000001h-33.407999999999994l-.277-3.108-.63-7.012-.331-3.711h34.646zM64.001 51.431v13.831000000000001h-15.209l-.277-3.108-.631-7.012-.33-3.711h16.447z"></path>
            </svg>
          </span>
          CSS 3
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill="#F0DB4F" d="M1.408 1.408h125.184v125.185h-125.184z"></path>
              <path fill="#323330" d="M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zm-46.885-37.793h-11.709l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z"></path>
            </svg>
          </span>
          Javascript
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill="#5B4282" d="M75.701 65.603c-2.334-.768-5.694-.603-10.08-.603h-17.621v23h18.844c2.944 0 5.012-.315 6.203-.535 2.099-.376 3.854-1.104 5.264-1.982 1.409-.876 2.568-2.205 3.478-3.881.908-1.676 1.363-3.637 1.363-5.83 0-2.568-.658-4.54-1.975-6.436-1.316-1.896-3.141-2.965-5.476-3.733zM73.282 55.087c2.317-.688 4.064-1.89 5.239-3.487 1.176-1.598 1.763-3.631 1.763-6.044 0-2.286-.549-4.314-1.646-6.054s-2.662-2.413-4.699-3.056c-2.037-.641-5.53-.446-10.48-.446h-15.459v20h16.587c4.042 0 6.939-.38 8.695-.913zM126 18.625c0-9.182-7.443-16.625-16.625-16.625h-91.75c-9.182 0-16.625 7.443-16.625 16.625v91.75c0 9.182 7.443 16.625 16.625 16.625h91.75c9.182 0 16.625-7.443 16.625-16.625v-91.75zm-35.447 66.12c-1.362 2.773-3.047 4.911-5.052 6.415-2.006 1.504-4.521 2.78-7.544 3.548-3.022.769-6.728 1.292-11.113 1.292h-27.844v-69h27.42c5.264 0 9.485.609 12.665 2.002 3.181 1.395 5.671 3.497 7.474 6.395 1.801 2.898 2.702 5.907 2.702 9.071 0 2.945-.8 5.708-2.397 8.308-1.598 2.602-4.011 4.694-7.237 6.292 4.166 1.222 7.37 3.304 9.61 6.248 2.24 2.945 3.36 6.422 3.36 10.432 0 3.227-.681 6.225-2.044 8.997z"></path>
            </svg>
          </span>
          Bootstrap
        </li>
      </ul>
    </div>

    <div class="skill-section">
      <%= image_tag "back-end.svg", class: "section-img" %>
      <h3 class="underline-heading">Back-End and Frameworks</h3>
      <p>Create a fully functioning app with database and api end-points.</p>
      <ul class="list-group">
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 128 128">
              <path fill="#A62C39" d="M17.444 125.054s.188-29.538.188-59.564c0-58.159-4.901-62.491 21.194-62.491h72.635v83.889c0 27.615 5.162 38.433-23.859 38.433-29.021.001-70.158-.267-70.158-.267z"></path>
              <path fill="url(#a)" d="M350.603 449.926s4.655.932 8.688 7.757c4.034 6.826 25.444 59.886 25.444 59.886v-43.131l-19.858-32.27 5.585 6.827 10.55-8.689-13.653-.93-16.756 10.55z"></path>
              <path opacity=".668" fill="url(#b)" enable-background="new" d="M309.335 439.686s30.719 20.479 45.613 24.513c14.894 4.035 30.408 8.378 30.408 8.378l-35.373 86.88 15.204.621 19.86-49.026-.622-71.676-75.09.31z"></path>
              <path fill="#fff" fill-opacity=".44" d="M337.881 531.221l31.956 30.733-59.571-1.256s-1.861-18.927-1.241-28.856l3.723-9.929 25.133 9.308z"></path>
              <path fill-opacity=".362" d="M94.085 125.365l-28.856-29.788-26.375-9.929-20.479-45.612 21.721-36.304-14.584-.621-5.896 5.586-2.172 4.344-1.552 112.945 78.193-.621z"></path>
              <path opacity=".5" fill="#83222D" enable-background="new" d="M111.773 77.89s-29.167 9.309-46.543 17.997c-17.376 8.688-26.685 29.787-26.685 29.787s37.234-1.861 51.197-1.241c13.963.621 20.479.621 21.72-18.927 1.241-19.548.311-27.616.311-27.616z"></path>
              <path fill="#fff" d="M26.435 96.422v18.326h4.674v-4.773l4.254 4.254h7.172l-5.688-5.688s4.093-.067 4.402-5.984c0-5.43-4.097-6.134-8.83-6.134h-5.984zm4.897 4.971h4.031v3.265h-4.031v-3.265z"></path>
              <path fill="#fff" d="M51.562 96.496c-2.559-.015-6.108.223-6.108 5.045v12.737h4.797v-3.116h4.65v3.042h4.822v-13.354c0-4.189-4.654-4.353-7.147-4.353l-1.014-.001zm-1.237 4.6h4.501v5.021h-4.501v-5.021z"></path>
              <path fill="#fff" d="M64.531 96.507h4.964v17.531h-4.964z"></path>
              <path fill="#fff" d="M74.692 96.741v17.531h11.947v-4.654h-7.059v-12.955l-4.888.078z"></path>
              <path fill="#fff" d="M102.463 96.585v4.732h-7.99v1.707h3.413c1.785 0 5.508-.077 5.508 5.508s-2.561 5.896-7.758 5.896h-6.283v-4.267h7.214c2.172 0 2.292-.708 2.292-1.324 0-.615-1.11-.902-3.369-.902s-6.447-1.11-6.447-5.454 2.172-5.973 6.516-5.973c4.345-.001 6.904.077 6.904.077z"></path>
              <path fill="#fff" d="M30.787 91.233h41.269s-9.154-20.789-6.826-39.873c2.326-19.082 17.376-27.771 25.909-28.702 8.533-.931 13.187 4.344 13.187 4.344l1.861-2.792s-12.256-12.412-27.771-11.015c-15.514 1.395-26.219 11.635-32.89 24.046-6.671 12.412-10.55 21.101-13.188 34.132-2.637 13.033-1.551 19.86-1.551 19.86z"></path>
              <path fill="#fff" d="M22.565 70.444l8.066.62-1.396 8.068-7.602-.931.932-7.757z"></path>
              <path fill="#fff" d="M35.286 53.377l2.172-6.05-7.137-2.793-2.327 6.516 7.292 2.327z"></path>
              <path fill="#fff" d="M45.37 32.588l4.189-4.965-5.43-3.568-4.343 4.81 5.584 3.723z"></path>
              <path fill="#fff" d="M56.385 13.351l3.724 4.499 5.12-2.947-3.724-4.189-5.12 2.637z"></path>
              <path fill="#fff" d="M74.538 8.231l.93 4.499 6.361-.155-.62-4.034-6.671-.31z"></path>
              <path fill="#fff" d="M96.102 13.04l-.155 2.792 4.343 2.328.931-1.396-5.119-3.724z"></path>
              <path fill="#fff" d="M95.172 24.986v2.327l4.189.465v-1.861l-4.189-.931z"></path>
              <path fill="#fff" d="M81.829 27.002l2.017 3.724 2.948-2.327-.621-2.482-4.344 1.085z"></path>
              <path fill="#fff" d="M75.468 31.812l3.103 4.655-1.862 3.257-4.499-4.965 3.258-2.947z"></path>
              <path fill="#fff" d="M69.262 44.69l-2.017 4.033 5.275 4.5 1.241-5.121-4.499-3.412z"></path>
              <path fill="#fff" d="M67.09 58.807l-.31 5.43 6.516 2.792-.311-5.119-5.895-3.103z"></path>
              <path fill="#fff" d="M68.952 78.045l1.552 5.586 8.223.465-2.949-6.051h-6.826z"></path>
              <path stroke="#5E000E" stroke-width="3" d="M17.444 125.054s.188-29.538.188-59.564c0-58.159-4.901-62.491 21.194-62.491h72.635v83.889c0 27.615 3.921 38.433-23.859 38.433-27.78.001-70.158-.267-70.158-.267z" fill="none"></path>
            </svg>
          </span>
          Rails
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" id="ruby-icon" viewBox="0 0 48 48">
              <g>
                <polygon style="fill:#D84E4E;" points="37.432,11.297 36.139,36.14 11.907,37.433  "></polygon>
                <path style="fill:#C74343;" d="M36.864,12.595l-1.2,23.07l-22.503,1.2L36.864,12.595 M38,10L10.654,38l25.962-1.385L38,10L38,10z"></path>
              </g>
              <g>
                <polygon style="fill:#E26666;" points="35.792,36.115 24.459,24.225 37.434,11.56 36.141,36.115  "></polygon>
                <path style="fill:#C74343;" d="M36.867,12.811l-1.182,22.467L25.162,24.238L36.867,12.811 M38,10.308L23.756,24.212l11.821,12.403   h1.038L38,10.308L38,10.308z"></path>
              </g>
              <g>
                <path style="fill:#ED7E7E;" d="M9.549,37.5c-2.211,0-3.958-0.625-5.191-1.858c-4.353-4.353-0.877-14.911,7.748-23.536   C18.031,6.181,25.061,2.5,30.451,2.5c2.211,0,3.958,0.625,5.191,1.858c4.353,4.353,0.877,14.911-7.748,23.536   C21.969,33.819,14.939,37.5,9.549,37.5z"></path>
                <path style="fill:#C74343;" d="M30.452,3L30.452,3c2.073,0,3.7,0.576,4.836,1.712c4.087,4.087,0.539,14.541-7.748,22.828   C21.705,33.375,14.812,37,9.549,37c-2.074,0-3.701-0.576-4.837-1.712C0.625,31.201,4.173,20.747,12.46,12.46   C18.294,6.625,25.188,3,30.452,3 M30.451,2c-5.313,0-12.503,3.557-18.699,9.753C2.919,20.586-0.55,31.44,4.005,35.995   C5.365,37.355,7.287,38,9.549,38c5.313,0,12.503-3.557,18.699-9.753C37.081,19.414,40.55,8.56,35.995,4.005   C34.635,2.645,32.713,2,30.451,2L30.451,2z"></path>
              </g>
              <g>
                <polygon style="fill:#F7A3A3;" points="6.151,23.872 2.5,29.349 2.5,20.139 6.551,13.387 13.377,6.561 21.123,2.5 29.854,2.5    26.103,6.18 35.631,9.991 23.385,14.701 27.22,27.164 14.701,22.35 10.016,35.468  "></polygon>
                <path style="fill:#C74343;" d="M28.63,3L26.3,5.286l-1.094,1.073l1.423,0.569l7.633,3.053l-10.621,4.085l-0.871,0.335l0.275,0.892   l3.395,11.034l-11.08-4.262l-0.956-0.368l-0.345,0.965l-4.026,11.272l-3.084-9.252l-0.647-1.94l-1.134,1.701L3,27.697v-7.42   l3.948-6.58l6.728-6.728L21.246,3H28.63 M31.077,2H21l-7.923,4.154l-6.923,6.923L2,20v11l4-6l4,12l5-14l13,5l-4-13l13-5L27,6   L31.077,2L31.077,2z"></path>
              </g>
              <g>
                <polygon style="fill:#ED7E7E;" points="2.603,19.953 6.401,13.306 13.296,6.411 20.964,2.577 26.405,6.204 23.568,14.715    14.765,22.54 6.196,24.444  "></polygon>
                <path style="fill:#C74343;" d="M20.928,3.154l4.882,3.254l-2.674,8.022l-8.606,7.65l-8.138,1.809l-3.186-3.983l3.596-6.294   l6.791-6.791L20.928,3.154 M21,2l-8,4l-7,7l-4,7l4,5l9-2l9-8l3-9L21,2L21,2z"></path>
              </g>
            </svg>
          </span>
          Ruby
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 48 48">
              <g>
                <path style=" fill:#8BC34A;" d="M 18 6 C 9.199219 6 2 12 2 19.5 C 2 23.800781 4.300781 27.5 8 30 L 6 36 L 12.300781 32.101563 C 14 32.699219 16 33 18 33 C 26.800781 33 34 27 34 19.5 C 34 12 26.800781 6 18 6 Z "></path>
                <path style=" fill:#7CB342;" d="M 20 29 C 20 22.898438 25.800781 18 33 18 C 33.300781 18 33.601563 18 33.898438 18 C 33.800781 17.300781 33.601563 16.601563 33.398438 16 C 33.300781 16 33.101563 16 33 16 C 24.699219 16 18 21.800781 18 29 C 18 30.398438 18.300781 31.699219 18.699219 33 C 19.398438 33 20.101563 32.898438 20.800781 32.800781 C 20.300781 31.601563 20 30.300781 20 29 Z "></path>
                <path style=" fill:#CFD8DC;" d="M 46 29 C 46 22.898438 40.199219 18 33 18 C 25.800781 18 20 22.898438 20 29 C 20 35.101563 25.800781 40 33 40 C 34.800781 40 36.5 39.699219 38 39.199219 L 43 42 L 41.601563 37.199219 C 44.300781 35.199219 46 32.300781 46 29 Z "></path>
                <path style=" fill:#33691E;" d="M 14 15 C 14 16.101563 13.101563 17 12 17 C 10.898438 17 10 16.101563 10 15 C 10 13.898438 10.898438 13 12 13 C 13.101563 13 14 13.898438 14 15 Z M 24 13 C 22.898438 13 22 13.898438 22 15 C 22 16.101563 22.898438 17 24 17 C 25.101563 17 26 16.101563 26 15 C 26 13.898438 25.101563 13 24 13 Z "></path>
                <path style=" fill:#546E7A;" d="M 30 26.5 C 30 27.300781 29.300781 28 28.5 28 C 27.699219 28 27 27.300781 27 26.5 C 27 25.699219 27.699219 25 28.5 25 C 29.300781 25 30 25.699219 30 26.5 Z M 37.5 25 C 36.699219 25 36 25.699219 36 26.5 C 36 27.300781 36.699219 28 37.5 28 C 38.300781 28 39 27.300781 39 26.5 C 39 25.699219 38.300781 25 37.5 25 Z "></path>
              </g>
            </svg>
          </span>
          小程序
        </li>
        <li class="list-group-item">
          <span>
            <svg class="dev-icon" viewBox="0 0 50 50" style="fill:#000000;">
              <g id="surface1">
                <path style=" " d="M 44.082031 25.207031 L 46.902344 20.429688 C 47.015625 20.191406 47.03125 19.917969 46.945313 19.671875 L 41.359375 3.671875 C 41.1875 3.183594 40.675781 2.90625 40.179688 3.027344 L 23.761719 7.027344 C 23.449219 7.105469 23.191406 7.328125 23.070313 7.628906 L 21.324219 12 L 16 12 C 15.722656 12 15.453125 12.117188 15.265625 12.320313 L 3.265625 25.320313 C 2.894531 25.722656 2.914063 26.347656 3.308594 26.722656 L 15.894531 38.722656 C 16.078125 38.902344 16.328125 39 16.582031 39 L 22.320313 39 L 24.070313 43.371094 C 24.199219 43.695313 24.488281 43.925781 24.828125 43.984375 L 42.289063 46.984375 C 42.34375 46.996094 42.402344 47 42.457031 47 C 42.921875 47 43.332031 46.679688 43.433594 46.214844 L 46.976563 29.984375 C 47.03125 29.734375 46.988281 29.472656 46.851563 29.25 Z M 21.324219 12 L 35.417969 9.417969 L 28 24 L 11.167969 24 Z M 22.324219 39 L 11.167969 28 L 28 28 L 36.75 41.167969 Z M 40.386719 38.898438 L 32 26 L 39.332031 11.417969 L 44.082031 25.210938 Z "></path>
              </g>
            </svg>
          </span>
          Unity
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="band">
  <div class="item-1">
    <a href="https://design.tutsplus.com/articles/international-artist-feature-malaysia--cms-26852" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);"></div>
      <article>
        <h1>International Artist Feature: Malaysia</h1>
        <span>Mary Winkler</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
      <article>
        <h1>How to Conduct Remote Usability Testing</h1>
        <span>Harry Brignull</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="https://design.tutsplus.com/articles/envato-tuts-community-challenge-created-by-you-july-edition--cms-26724" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);"></div>
      <article>
        <h1>Created by You, July Edition</h1>
        <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
        <span>Melody Nieves</span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
      <article>
        <h1>How to Code a Scrolling “Alien Lander” Website</h1>
        <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
        <span>Kezz Bracey</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="https://design.tutsplus.com/tutorials/stranger-things-inspired-text-effect--cms-27139" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
      <article>
        <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
        <span>Rose</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
      <article>
        <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>

        <span>Marie Gardiner</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
      <article>
        <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
        <span>Kendra Schaefer</span>
      </article>
    </a>
  </div>
</div>
